html {
    background-color: rgb(6, 7, 15); 
    --lumo-primary-color: rgb(41, 145, 219);
    color: antiquewhite;
}
h1, h2,h3 {
    color: antiquewhite;
    margin-left: 3px;
}
div h3 {
    margin-left: 18px;
}
vaadin-text-field, vaadin-password-field , input{
    max-width: 20%;
    background-color: antiquewhite;
}
vaadin-button {
    background-color: rgba(12, 70, 156, 0.699);
    color: antiquewhite;
    max-width: 20%;
    margin-top: 13px;
}
vaadin-checkbox {
background-color:rgb(35, 173, 253);
border-radius: 50%;
margin: 6px;
padding: 2px;
}
vaadin-date-picker {
    background-color: rgb(60, 85, 147);
    color: antiquewhite;
    border-radius: 10%;
    padding: 0;
}
.editButton {
    background-color:rgb(59, 132, 196);
        color: antiquewhite;
        max-width: 20%;
        margin-left: 7px;
        margin-right: 3px;
        border-radius: 30%;
        border-color:rgb(59, 139, 161);
}
.kirjauduButton {
    background-color:rgb(59, 59, 161);
        color: antiquewhite;
        max-width: 20%;
        margin-right: 3px;
      
        border-color:rgb(59, 59, 161);
}
.todo {
    border: 2px;
    border-style: outset;
    border-color: rgb(45, 75, 168);
    margin-right: 50%;
}